/* Desktop Views ********************/
@media only screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main secton:nth-child(3) {
        grid-column: span 1;
    }
}
.flex {
    flex-direction: row;
}