/* Tablet Views *****************/
@media only screen and (min-width: 600px) {
    /* main {
        grid-template-columns: 1fr 1fr;
    }
   main section:nth-child(3) {
        display: block;
} */
main picture {
    display: block;
}
main section picture img {
    width: 100%;
    height: auto;
   
}

.flex{
    flex-wrap: wrap;
    justify-content: center;
    
  }
}


   
