
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
/* phone or baseline views
*****************************/
main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    color: black;
    
}


main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
  /* main section {
      margin: .25rem;
      padding: 0 1rem;
      background-color: rgba(255, 255, 255, 0.795);
      border-radius: 1em;
    }
     section:nth-child(2) {
        display: block;
        margin: 0.5rem;
        border-radius: 1em;
    }
    section:nth-child(1) {
        display: block;
        margin: .5rem;
        border-radius: 1em;
    }
    section:nth-child(3) {
        display: block;
        margin: .5rem;
        border-radius: 1em;
    }
    */
    
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Montserrat', 'sans-serif';
        
    }
    
.main-container {
    
    margin: 1em auto 1em auto;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(35, 112, 255);
}
.title-header {
    font-size: 4vw;
    
    margin: 1em 0 1em 0;
    
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
   
}
.logoheader {
    border-radius: 15px;
}
.column-image {
    border-radius: 1em;
    width: 100%;
    border: .2em #bbbbbb;
}
.design-footer {
    font-size: 1em;
    padding: 2em;
    margin: 1em 0 1em 0;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.updated {
    color:black;
}
.cityname {
display: flex;
flex-direction: column;

border-radius: 15px;
margin: .5em;
}

.boxes {
    
    
    text-align: center;
    

}
.flex {
    display: flex;
    flex-direction: row;

    
}
.placeholder {
    background-color: gray;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .25em;
    height: 100px;
}
.glance {
    text-align: center;
    background-color: antiquewhite;
    margin: .5em;
    border-radius: 15px;
    border-color: black;
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    
}

nav ul li a {
display: block;
padding: .8rem 2%;
text-decoration: none;
border-top: 1px solid rgba(0,0,0,0.3);
color: white;
background-color: #595959;
}


nav ul li.active a {
    background-color: #0000b3; 
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}
/*--------- Clearfix: Force an Eleement not to collapse
--------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
    
}

.hide {display: none;}
main p {font-size: .95em;}

.ball {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: orangered;
    color: transparent;
    
   }
#circlep {
    background: radial-gradient(circle, transparent 40%, gray 40%);
    border-radius: 100%;
    height: 170px;
    width: 170px;
    position: absolute;
    top: 19%;
    left: 19%;
  
}
#po1 {
    grid-column: 10/span 2;
    grid-row: 2/span 2;
}
#po2 {
    grid-column: 12/span 2;
    grid-row: 4/span 2;
}
#po3 {
    grid-column: 13/span 2;
    grid-row: 7/span 2;
}
#po4 {
    grid-column: 12/span 2;
    grid-row: 10/span 2;
}
#po5 {
    grid-column: 10/span 2;
    grid-row: 12/span 2;
}
#po6 {
    grid-column: 7/span 2;
    grid-row: 13/span 2;
}
#po7 {
    grid-column: 4/span 2;
    grid-row: 12/span 2;
}
#po8 {
    grid-column: 2/span 2;
    grid-row: 10/span 2;
}
#po9 {
    grid-column: 1/span 2;
    grid-row: 7/span 2;
}
#po10 {
    grid-column: 2/span 2;
    grid-row: 4/span 2;
}
#po11 {
    grid-column: 4/span 2;
    grid-row: 2/span 2;
}
#po12 {
    grid-column: 7/span 2;
    grid-row: 1/span 2;
}

#mid {
    grid-column: 7/span 2;
    grid-row: 5/span 2;
}
#ponumbers {
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  position: absolute;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
.inumbers {
  display: grid;
  width: 58%;
  height: 58%;
  left: 21%;
  top: 21%;
  position: absolute;
  z-index: 1;
  text-align: center;
  align-items: stretch;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
    justify-items: center;
    align-items: center;
}

#precip {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
#precipcontainer {
  height: 275px;
  width: 275px;
  position: relative;
  
}
#mid {
  position: absolute;
  font-size: 3em;
  top: 37%;
  left: 44%;
}
.columns {
    flex-wrap: wrap;
    justify-content: center;
}
.columns > section, .columns > div {
    width: 275px;
    height: 275px;
    margin: .5em;
    background-color: antiquewhite;
    border-radius: 15px;
   
}
#condition {
    flex: 0 0 auto;
}
#ballc {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: orangered;
    position: absolute;
    grid-column: 10/span 2;
    grid-row: 2/span 2;
    z-index: -1;
    place-self: center;
}
#circlec {
    background: radial-gradient(circle, transparent 40%, gray 40%);
    border-radius: 100%;
    height: 170px;
    width: 170px;
    position: absolute;
    top: 19%;
    left: 19%;
  
}
#co1 {
    grid-column: 10/span 2;
    grid-row: 2/span 2;
}
#co2 {
    grid-column: 12/span 2;
    grid-row: 4/span 2;
}
#co3 {
    grid-column: 13/span 2;
    grid-row: 7/span 2;
}
#co4 {
    grid-column: 12/span 2;
    grid-row: 10/span 2;
}
#co5 {
    grid-column: 10/span 2;
    grid-row: 12/span 2;
}
#co6 {
    grid-column: 7/span 2;
    grid-row: 13/span 2;
}
#co7 {
    grid-column: 4/span 2;
    grid-row: 12/span 2;
}
#co8 {
    grid-column: 2/span 2;
    grid-row: 10/span 2;
}
#co9 {
    grid-column: 1/span 2;
    grid-row: 7/span 2;
}
#co10 {
    grid-column: 2/span 2;
    grid-row: 4/span 2;
}
#co11 {
    grid-column: 4/span 2;
    grid-row: 2/span 2;
}
#co12 {
    grid-column: 7/span 2;
    grid-row: 1/span 2;
}
.i1 {
    grid-column: 10/span 2;
    grid-row: 2/span 2;
}
.i2 {
    grid-column: 12/span 2;
    grid-row: 4/span 2;
}
.i3 {
    grid-column: 13/span 2;
    grid-row: 7/span 2;
}
.i4 {
    grid-column: 12/span 2;
    grid-row: 10/span 2;
}
.i5 {
    grid-column: 10/span 2;
    grid-row: 12/span 2;
}
.i6 {
    grid-column: 7/span 2;
    grid-row: 13/span 2;
}
.i7 {
    grid-column: 4/span 2;
    grid-row: 12/span 2;
}
.i8 {
    grid-column: 2/span 2;
    grid-row: 10/span 2;
}
.i9 {
    grid-column: 1/span 2;
    grid-row: 7/span 2;
}
.i10 {
    grid-column: 2/span 2;
    grid-row: 4/span 2;
}
.i11 {
    grid-column: 4/span 2;
    grid-row: 2/span 2;
}
.i12 {
    grid-column: 7/span 2;
    grid-row: 1/span 2;
}
#mid {
    grid-column: 7/span 2;
    grid-row: 5/span 2;
}
#conumbers {
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  position: absolute;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
#cinumbers {
  display: grid;
  width: 58%;
  height: 58%;
  left: 21%;
  top: 21%;
  position: absolute;
  z-index: 1;
  text-align: center;
  align-items: stretch;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);

}

#cond {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
#condcontainer {
  height: 275px;
  width: 275px;
  position: relative;
  
}
#mid {
  position: absolute;
  font-size: 3em;
  top: 37%;
  left: 44%;
}
.columns {
    flex-wrap: wrap;
    justify-content: center;
}
.columns > section, .columns > div {
    width: 275px;
    height: 275px;
    margin: .5em;
    background-color: antiquewhite;
    border-radius: 15px;
   
}
#condition {
    flex: 0 0 auto;
}
#ballt {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: orangered;
    position: absolute;
    grid-column: 10/span 2;
    grid-row: 2/span 2;
    z-index: -1;
    place-self: center;
}
#circlet {
    background: radial-gradient(circle, transparent 40%, gray 40%);
    border-radius: 100%;
    height: 170px;
    width: 170px;
    position: absolute;
    top: 19%;
    left: 19%;
  
}
#to1 {
    grid-column: 10/span 2;
    grid-row: 2/span 2;
}
#to2 {
    grid-column: 12/span 2;
    grid-row: 4/span 2;
}
#to3 {
    grid-column: 13/span 2;
    grid-row: 7/span 2;
}
#to4 {
    grid-column: 12/span 2;
    grid-row: 10/span 2;
}
#to5 {
    grid-column: 10/span 2;
    grid-row: 12/span 2;
}
#to6 {
    grid-column: 7/span 2;
    grid-row: 13/span 2;
}
#to7 {
    grid-column: 4/span 2;
    grid-row: 12/span 2;
}
#to8 {
    grid-column: 2/span 2;
    grid-row: 10/span 2;
}
#to9 {
    grid-column: 1/span 2;
    grid-row: 7/span 2;
}
#to10 {
    grid-column: 2/span 2;
    grid-row: 4/span 2;
}
#to11 {
    grid-column: 4/span 2;
    grid-row: 2/span 2;
}
#to12 {
    grid-column: 7/span 2;
    grid-row: 1/span 2;
}

#mid {
    grid-column: 7/span 2;
    grid-row: 5/span 2;
}
#tonumbers {
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  position: absolute;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
#tinumbers {
  display: grid;
  width: 58%;
  height: 58%;
  left: 21%;
  top: 21%;
  position: absolute;
  z-index: 1;
  text-align: center;
  align-items: stretch;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);

}

.temp {
    height: 100%;
    
    border-radius: 15px;
}
#tempcontainer {
  height: 275px;
  width: 275px;
  position: relative;
  
}
#tmid {
  position: absolute;
  font-size: 3em;
  top: 37%;
  left: 44%;
}
.columns {
    flex-wrap: wrap;
    justify-content: center;
}
.columns > section, .columns > div {
    width: 275px;
    height: 275px;
    margin: .5em;
    background-color: antiquewhite;
    border-radius: 15px;
    
    
   
}
#temperature {
    flex: 0 0 auto;
}
#degrees {
    font-size: 4em;
    margin: 0;
}
#high {
    font-size: 2em;
    color: red;
    display: inline-block;
    margin: .5em;
}
#low {
    font-size: 2em;
    color: blue;
    display: inline-block;
}
.currrent-condition {
    background-size: cover;
    background-image: var(--dynamic-weather-background);
    border-radius: 15px;
}

