@import "/css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
/* phone or baseline views
*****************************/
main {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    color: black;
    
}


main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
  main section {
      margin: .25rem;
      padding: 0 1rem;
      background-color: rgba(255, 255, 255, 0.795);
      border-radius: 1em;
    }
    section:nth-child(2) {
        display: block;
        margin: 0.5rem;
        border-radius: 1em;
    }
    section:nth-child(1) {
        display: block;
        margin: .5rem;
        border-radius: 1em;
    }
    section:nth-child(3) {
        display: block;
        margin: .5rem;
        border-radius: 1em;
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Montserrat', 'sans-serif';
        
    }
    
.main-container {
    
    margin: 1em auto 1em auto;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(35, 112, 255);
}
.title-header {
    font-size: 4vw;
    
    margin: 1em 0 1em 0;
    
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
   
}
.column-image {
    border-radius: 1em;
    width: 100%;
    border: .2em #bbbbbb;
}
.design-footer {
    font-size: 1em;
    padding: 2em;
    margin: 1em 0 1em 0;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.updated {
    color:black;
}
.cityname {
display: flex;
}

.boxes {
    border: solid 1px black;
    flex: 1;
    text-align: center;

}
.flex {
    display: flex;
    
}
.placeholder {
    background-color: gray;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .25em;
    height: 100px;
}
.glance {
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    
}

nav ul li a {
display: block;
padding: .8rem 2%;
text-decoration: none;
border-top: 1px solid rgba(0,0,0,0.3);
color: white;
background-color: grey;
}


nav ul li .active a {
    background-color: rgba(0,0,0,0.2); 
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}
/*--------- Clearfix: Force an Eleement not to collapse
--------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
    
}

nav ul.hide {display: none;}
main p {font-size: .95em;}